@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Luxurious Roman', cursive;
}
.bio1 {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../style/photo/bio1-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.texte1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.bio2 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../style/photo/psychose-une-replique-du-manoir-flippant-sur-les-toits-de-new-york.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.texte2 {
    position: absolute;
    top: 10%;
    left: 10%;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    font-size: 22px;
}
.bio3 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../style/photo/bio3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.texte3 {
    position: absolute;
    top: 5%;
    left: 10%;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    font-size: 22px;
}
@media screen and (max-width: 390px) {
    .texte1,
    .texte2,
    .texte3 {
        top: 20%;
        font-size: 15px;
    }
}
@media screen and (min-width: 700px) {
    .texte1,
    .texte2,
    .texte3 {
        top: 20%;
        font-size: 30px;
    }
}
@media screen and (min-width: 700px) {
    .texte1,
    .texte2,
    .texte3 {
        top: 20%;
        font-size: 30px;
    }
}
@media screen and (min-width: 1000px) {
    .texte1,
    .texte2,
    .texte3 {
        font-size: 30px;
        width: 50%;
        height: 50%;
    }
    .texte1 {
        top: 15%;
        left: 20%;
    }
    .texte2 {
        top: 15%;
        left: 20%;
    }
    .texte3 {
        top: 10%;
        left: 20%;
    }
}
@media screen and (min-width: 1430px) {
    .texte1,
    .texte2,
    .texte3 {
        font-size: 25px;
        width: 50%;
        height: 50%;
    }
    .texte1 {
        top: 25%;
        left: 2%;
    }
    .texte2 {
        top: 30%;
        left: 23%;
    }
    .texte3 {
        top: 20%;
        left: 2%;
    }
}