@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Luxurious Roman", cursive;
}

h3 {
  color: red;
  font-size: 25px;
}
p {
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
  padding-top: 50px;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(56, 49, 49);
}
.boiteimage {
  display: flex;
  background-color: transparent;
  width: 220px;
  height: 340px;
  perspective: 1000px;
}
.film {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.boiteimage:hover .film {
  transform: rotateY(180deg);
}
.devant,
.derriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.derriere {
  background-color: #000000;
  color: #ffffff;
  transform: rotateY(180deg);
}
#boite1 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-pleasure-garden.jpg);
  background-size: cover;
}
#boite2 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-ring.jpg);
  background-size: cover;
}
#boite3 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-lodger.jpg);
  background-size: cover;
}
#boite4 .devant {
  background-image: url(../style/photo/Filmographie/filmo-downhill.jpg);
  background-size: cover;
}
#boite5 .devant {
  background-image: url(../style/photo/Filmographie/filmo-easy-virtue.jpg);
  background-size: cover;
}
#boite6 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-farmers-wife.jpg);
  background-size: cover;
}
#boite7 .devant {
  background-image: url(../style/photo/Filmographie/champagne-1928.jpeg);
  background-size: cover;
}
#boite8 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-manxman.jpg);
  background-size: cover;
}
#boite9 .devant {
  background-image: url(../style/photo/Filmographie/filmo-juno-and-the-paycock.jpg);
  background-size: cover;
}
#boite10 .devant {
  background-image: url(../style/photo/Filmographie/filmo-blackmail.jpg);
  background-size: cover;
}
#boite11 .devant {
  background-image: url(../style/photo/Filmographie/filmo-murder.jpg);
  background-size: cover;
}
#boite12 .devant {
  background-image: url(../style/photo/Filmographie/rich-and.jpg);
  background-size: cover;
}