@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Luxurious Roman", cursive;
}

h3 {
  color: red;
  font-size: 25px;
}
p {
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
  padding-top: 50px;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(56, 49, 49);
}
.boiteimage {
  display: flex;
  background-color: transparent;
  width: 220px;
  height: 340px;
  perspective: 1000px;
}
.film {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.boiteimage:hover .film {
  transform: rotateY(180deg);
}
.devant,
.derriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.derriere {
  background-color: #000000;
  color: #ffffff;
  transform: rotateY(180deg);
}
#boite1 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-pleasure-garden.jpg);
  background-size: cover;
}
#boite2 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-ring.jpg);
  background-size: cover;
}
#boite3 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-lodger.jpg);
  background-size: cover;
}
#boite4 .devant {
  background-image: url(../style/photo/Filmographie/filmo-downhill.jpg);
  background-size: cover;
}
#boite5 .devant {
  background-image: url(../style/photo/Filmographie/filmo-easy-virtue.jpg);
  background-size: cover;
}
#boite6 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-farmers-wife.jpg);
  background-size: cover;
}
#boite7 .devant {
  background-image: url(../style/photo/Filmographie/champagne-1928.jpeg);
  background-size: cover;
}
#boite8 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-manxman.jpg);
  background-size: cover;
}
#boite9 .devant {
  background-image: url(../style/photo/Filmographie/filmo-juno-and-the-paycock.jpg);
  background-size: cover;
}
#boite10 .devant {
  background-image: url(../style/photo/Filmographie/filmo-blackmail.jpg);
  background-size: cover;
}
#boite11 .devant {
  background-image: url(../style/photo/Filmographie/filmo-murder.jpg);
  background-size: cover;
}
#boite12 .devant {
  background-image: url(../style/photo/Filmographie/rich-and.jpg);
  background-size: cover;
}
#boite13 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-man-who-knew-too-much.jpg);
  background-size: cover;
}
#boite14 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-39-steps.jpg);
  background-size: cover;
}
#boite15 .devant {
  background-image: url(../style/photo/Filmographie/filmo-sabotage.jpg);
  background-size: cover;
}
#boite16 .devant {
  background-image: url(../style/photo/Filmographie/filmo-secret-agent.jpg);
  background-size: cover;
}
#boite17 .devant {
  background-image: url(../style/photo/Filmographie/filmo-young-and-innocent.jpg);
  background-size: cover;
}
#boite18 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-lady-vanishes.jpg);
  background-size: cover;
}
#boite19 .devant {
  background-image: url(../style/photo/Filmographie/filmo-jamaica-inn.jpg);
  background-size: cover;
}
#boite20 .devant {
  background-image: url(../style/photo/Filmographie/filmo-rebecca.jpg);
  background-size: cover;
}
#boite21 .devant {
  background-image: url(../style/photo/Filmographie/filmo-foreign-correspondent.jpg);
  background-size: cover;
}
#boite22 .devant {
  background-image: url(../style/photo/Filmographie/filmo-suspicion.jpg);
  background-size: cover;
}
#boite23 .devant {
  background-image: url(../style/photo/Filmographie/filmo-mr-and-mrs-smith.jpg);
  background-size: cover;
}
#boite24 .devant {
  background-image: url(../style/photo/Filmographie/filmo-saboteur.jpg);
  background-size: cover;
}
#boite25 .devant {
  background-image: url(../style/photo/Filmographie/filmo-shadow-of-a-doubt.jpg);
  background-size: cover;
}
#boite26 .devant {
  background-image: url(../style/photo/Filmographie/filmo-lifeboat.jpg);
  background-size: cover;
}
#boite27 .devant {
  background-image: url(../style/photo/Filmographie/filmo-spellbound.jpg);
  background-size: cover;
}
#boite28 .devant {
  background-image: url(../style/photo/Filmographie/filmo-notorious.jpg);
  background-size: cover;
}
#boite29 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-paradine-case.jpg);
  background-size: cover;
}
#boite30 .devant {
  background-image: url(../style/photo/Filmographie/filmo-rope.jpg);
  background-size: cover;
}
#boite31 .devant {
  background-image: url(../style/photo/Filmographie/filmo-under-capricorn.jpg);
  background-size: cover;
}
#boite32 .devant {
  background-image: url(../style/photo/Filmographie/filmo-stage-fright.jpg);
  background-size: cover;
}
#boite33 .devant {
  background-image: url(../style/photo/Filmographie/filmo-strangers-on-a-train.jpg);
  background-size: cover;
}
#boite34 .devant {
  background-image: url(../style/photo/Filmographie/filmo-i-confess.jpg);
  background-size: cover;
}
#boite35 .devant {
  background-image: url(../style/photo/Filmographie/filmo-rear-window.jpg);
  background-size: cover;
}
#boite36 .devant {
  background-image: url(../style/photo/Filmographie/filmo-dial-m-for-murder.jpg);
  background-size: cover;
}
#boite37 .devant {
  background-image: url(../style/photo/Filmographie/filmo-to-catch-a-thief.jpg);
  background-size: cover;
}
#boite38 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-trouble-with-harry.jpg);
  background-size: cover;
}
#boite39 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-wrong-man.jpg);
  background-size: cover;
}
#boite40 .devant {
  background-image: url(../style/photo/Filmographie/filmo-vertigo.jpg);
  background-size: cover;
}
#boite41 .devant {
  background-image: url(../style/photo/Filmographie/filmo-north-by-northwest.jpg);
  background-size: cover;
}
#boite42 .devant {
  background-image: url(../style/photo/Filmographie/filmo-psycho.jpg);
  background-size: cover;
}
#boite43 .devant {
  background-image: url(../style/photo/Filmographie/filmo-the-birds.jpg);
  background-size: cover;
}
#boite44 .devant {
  background-image: url(../style/photo/Filmographie/filmo-marnie.jpg);
  background-size: cover;
}
#boite45 .devant {
  background-image: url(../style/photo/Filmographie/filmo-torn-curtain.jpg);
  background-size: cover;
}
#boite46 .devant {
  background-image: url(../style/photo/Filmographie/filmo-topaz.jpg);
  background-size: cover;
}
#boite47 .devant {
  background-image: url(../style/photo/Filmographie/filmo-frenzy.jpg);
  background-size: cover;
}
#boite48 .devant {
  background-image: url(../style/photo/Filmographie/filmo-family-plot.jpg);
  background-size: cover;
}